---
import { getEntry } from "astro:content";
import Banner from "../components/Banner.astro";
import Page from "../layouts/Page.astro";
const introduction = await getEntry("about", "introduction");
const { Content: IntroductionContent } = await introduction.render();
---

<Page>
	<Banner />
	<main>
		<IntroductionContent />
		<section>
			Work Experience
		</section>
	</main>
</Page>
